{% extends 'appointments/admin/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block page-title %}Красота | Профиль - Администратор{% endblock %}</title>
    </head>

    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
               href="{% url 'profile_adm.html' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Красота <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Панель администратора
            </div>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard_adm.html' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Оперативная ситуация</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Вы
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile_adm.html' %}">
                    <i class="fas fa-fw fa-user-alt"></i>
                    <span>Профиль</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Другое
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'book_app_adm.html' %}">
                    <i class="fas fa-fw fa-calendar-plus"></i>
                    <span>Оформить заказ</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment_adm.html' %}">
                    <i class="fas fa-fw fa-calendar"></i>
                    <span>Заказы</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'customer_adm.html' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Клиенты</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'engineer_adm.html' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Мастера</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_adm.html' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Администраторы</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-arrow-right-from-bracket"></i>
                    <span>Выход</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>



                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ adm.first_name }} {{ adm.last_name }}</span>
                                <img class="img-profile rounded-circle" src="{{ adm.image.url }}" alt="">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'profile_adm.html' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Профиль
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Настройки
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Журнал активности
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Выход
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!-- End Messages -->
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 text-center">Ваш профиль</h1>
                    <div class="main-panel">
                        <div class="main-content">
                            <!-- Header -->
                            <div class="header">
                                <div class="main-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                                                <div class="card card-profile">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-3 order-lg-2">
                                                            <div class="card-profile-image">
                                                                <a href="#">
                                                                    <img src="{{ adm.image.url }}"
                                                                         class="rounded-circle" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br><br><br><br>
                                                    <div class="card-body pt-0">
                                                        <div class="row">
                                                            <div class="center">
                                                                <div class="profile-card-subtitle">
                                                                    <div class="text-center">
                                                                        <h3 class="text-primary">
                                                                            <b>{{ adm.first_name }} {{ adm.last_name }}</b><span
                                                                                class="font-weight-light">, {{ age }}</span>
                                                                        </h3>
                                                                        <br>
                                                                        <i class="fa fa-map-pin"></i> <br>
                                                                        {{ adm.address }}, {{ adm.postcode }} <br>
                                                                        {{ adm.city }}, {{ adm.country }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-8 order-xl-1">
                                                <form method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="card">
                                                        <p>
                                                        <div class="card-body">
                                                            <div class="pl-lg-4">
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-username">Имя пользователя</label>
                                                                            <input readonly type="text"
                                                                                   id="input-username"
                                                                                   class="form-control form-control-alternative"
                                                                                   placeholder="{{ user.username }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-email">Email
                                                                                </label>
                                                                            <input readonly type="email"
                                                                                   id="input-email"
                                                                                   class="form-control form-control-alternative"
                                                                                   placeholder="{{ user.email }}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-first-name">Имя
                                                                                </label>
                                                                            {{ admin_update_form.first_name|add_class:"form-control form-control-alternative" }}
                                                                            {{ admin_update_form.first_name.errors }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-last-name">Фамилия
                                                                                </label>
                                                                            {{ admin_update_form.last_name|add_class:"form-control form-control-alternative" }}
                                                                            {{ admin_update_form.last_name.errors }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-age">Возраст</label>
                                                                            <input readonly type="text"
                                                                                   id="input-username"
                                                                                   class="form-control form-control-alternative"
                                                                                   placeholder="{{ age }}">
                                                                        </div>
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-age">Номер телефона</label>
                                                                            {{ admin_update_form.last_name|add_class:"form-control form-control-alternative" }}
                                                                            {{ admin_update_form.last_name.errors }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-date">Дата
                                                                                рождения</label>
                                                                            {{ admin_update_form.dob|add_class:"form-control form-control-alternative" }}
                                                                            {{ admin_update_form.dob.errors }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr class="my-1">
                                                            <br>
                                                            <div class="pl-lg-4">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-address">Адрес</label>
                                                                            {{ admin_update_form.address|add_class:"form-control form-control-alternative" }}
                                                                            {{ admin_update_form.address.errors }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-city">Город</label>
                                                                            {{ admin_update_form.city|add_class:"form-control form-control-alternative" }}
                                                                            {{ admin_update_form.city.errors }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group focused">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-country">Страна</label>
                                                                            {{ admin_update_form.country|add_class:"form-control form-control-alternative" }}
                                                                            {{ admin_update_form.country.errors }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-4">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-postalcode">Почтовый индекс</label>
                                                                            {{ admin_update_form.postcode|add_class:"form-control form-control-alternative" }}
                                                                            {{ admin_update_form.postcode.errors }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label class="text-l font-weight-bold text-primary text-uppercase mb-1"
                                                                                   for="input-image">Картинка профиля
                                                                                </label>
                                                                            {{ admin_update_form.image|add_class:"form-control form-control-alternative" }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group text-center">
                                                            <button class="btn btn-primary" type="submit">
                                                                Обновить информацию
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <div id="divider-space-50"></div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Красота 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    </body>
    </html>

{% endblock %}